<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%%= content_for?(:title) ? yield(:title) : app_name %></title>

  <%%= stylesheet_link_tag 'application', media: 'all'<%= turbolinks %> %>
<%- if options.cdn != "none" -%>
  <%%= bootswatch_link_tag current_theme<%= turbolinks %> %>
  <%%= fontawesome_link_tag<%= turbolinks %> %>
<%%- else -%>
  <%%= stylesheet_link_tag current_theme<%= turbolinks %> %>
<%%- end -%>
<%- if options.cdn != "none" -%>
  <%%= jquery_include_tag :<%= options.cdn %><%= turbolinks %> %>
  <%- if options.ui? -%>
  <%%= jquery_ui_include_tag :<%= options.cdn %><%= turbolinks %> %>
  <%- end -%>
<%- end -%>
  <%%= javascript_include_tag 'application'<%= turbolinks %> %>
<%- if options.cdn != "none" -%>
  <%%= bootstrap_include_tag<%= turbolinks %> %>
<%- end -%>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%%= csrf_meta_tags %>
</head>

